<template>
    <div id="app">
        <div class="container">
            <nav class="nav justify-content-end">
                <router-link v-if="loggedIn"  class="nav-link" to="/logout">Log out</router-link>
            </nav>
        </div>
        <template v-if="$route.matched.length">
            <router-view></router-view>
        </template>
    </div>
</template>

<script>
    import auth from '../auth';

    export default {
        data () {
            return {
                loggedIn: auth.loggedIn()
            }
        },
        created () {
            auth.onChange = loggedIn => {
                this.loggedIn = loggedIn
            }
        }
    }
</script>
