<template>
    <div class="container">
        <br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <router-link aria-hidden="true" to="/dashboard/list-contact" >&times;</router-link>
        </button>
        <br>
        <br>
            <div class="d-flex justify-content-between align-items-center flex-row form-group">
                <label for="name" class="col-md-2">Nome</label>
                <input type="text" class="form-control col-md-10" v-model="name" id="name">
            </div>

            <div class="d-flex justify-content-between align-items-center flex-row form-group">
                <label for="name" class="col-md-1">Telefone</label>
                <input type="text" class="form-control col-md-7" id="phone" v-model="phone">
                <button type="submit" class="btn btn-primary col-md-2" v-on:click="addPhone">Adicionar telefone</button>
            </div>
        <ul class="list-group" v-for="phone in phones">
            <li class="list-group-item">{{phone}}</li>
        </ul>
        <br>
            <p><button type="submit" class="btn btn-primary" v-on:click="addContact">Cadastrar</button></p>
        <br>
    </div>
</template>

<script>

    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "CreateContact",
        data () {
            return {
                name: '',
                phone: '',
                phones: []
            }
        },

        methods: {
            ...mapActions([
                'changeContact'
            ]),

            addPhone() {
                if (this.phone != '') {
                    this.phones.push(this.phone);
                    this.phone = '';
                }
            },

            addContact() {
                if (this.name == '') {
                    return;
                }

                Vue.http.post('/api/contact', {
                        name: this.name,
                        phones: this.phones
                    },
                    {
                        headers: {
                            'Authorization': 'Bearer ' + this.userToken
                        }
                    }
                ).then(
                    (response) => {
                        let newContact = {
                            'name': _.get(response, 'data.data.name'),
                            'phones': _.get(response, 'data.data.phones')
                        };
                        this.contact.push(newContact);
                        this.changeContact(this.contact);
                        this.closeModal();
                    }
                )
            },

            closeModal() {
                this.$router.go(-1);
            }
        },
        computed: {
            ...mapGetters([
                'userToken',
                'contact'
            ])
        }
    }
</script>
