<template>
    <div class="container">
        <div class="d-flex flex-row">
            <img class="rounded-circle w-25 p-3" v-bind:src="this.user.image_path">
            <h5>Bem-vindo, {{this.user.name}}</h5>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <router-link class="nav-link active" to="/dashboard/list-contact">Listagem de contatos</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/dashboard/report-contact-with-phone">Relatórios contatos com número</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/dashboard/report-contact-without-phone">Relatórios contatos sem número</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/dashboard/update-user">Atulizar foto</router-link>
            </li>
        </ul>

        <div v-if="showDashModal" class="modal-route">
            <div class="modal-content">
                <router-view></router-view>
            </div>
        </div>

        <router-view v-else></router-view>
    </div>
</template>

<script>
    import auth from "../auth";
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data () {
            return {
                error: false,
                showDashModal: false
            }
        },
        methods: {
            ...mapActions([
                'changeUserToken',
                'changeUser'
            ]),

            setUserToken() {
                this.changeUserToken(auth.getToken());
            },

            getUserInfo() {
                Vue.http.get('/api/user/token', {
                    headers: {
                        'Authorization': 'Bearer ' + auth.getToken()
                    }
                }).then(
                    (response) => {
                        this.changeUser(response.data.data)
                    }
                );
            }
        },

        computed: {
            ...mapGetters([
                'userToken',
                'user'
            ]),
        },

        mounted() {
            this.getUserInfo();
            this.setUserToken();
        },

        watch: {
            $route: {
                immediate: true,
                handler: function(newVal, oldVal) {
                    this.showDashModal = newVal.meta && newVal.meta.showDashModal;
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .contact-list {
        .item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            padding: 16px;
            border-radius: 4px;
            border: solid 1px #efefef;
        }
    }
    .modal-route {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.5);
        .modal-content {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
        }
    }
</style>
