<template>
    <div class="container">
        <br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <router-link aria-hidden="true" to="/dashboard/list-contact" >&times;</router-link>
        </button>
        <br>
        <br>
        <div class="d-flex justify-content-between align-items-center flex-row form-group">
            <label class="col-md-12">Deseja realmente excluir o contato <b>{{this.contactToDelete['name']}}, {{getPhones(this.contactToDelete['phones'])}}</b></label>
        </div>
        <br>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger" v-on:click="removeContact">Remover</button>
        </div>
        <br>
    </div>
</template>

<script>

    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "DeleteContact",
        data () {
            return {
                contactToDelete: {}
            }
        },
        methods: {
            ...mapActions([
                'changeContact'
            ]),

            removeContact() {
                Vue.http.delete('/api/contact/{contactId}', {
                    params: {
                        contactId: _.get(this.contactToDelete, 'id')
                    },
                    headers: {
                        'Authorization': 'Bearer ' + this.userToken
                    }
                }).then(
                    (response) => {
                        let index = _.indexOf(this.contact, this.contactToDelete);
                        this.contact.splice(index, 1);
                        this.changeContact(this.contact);
                        this.closeModal();
                    }
                )
            },
            closeModal() {
                this.$router.go(-1);
            },

            getPhones(phones) {
                return _.join(phones, ', ')
            },

            getSelectedContact() {
                this.contactToDelete = this.selectToDelete;
            }
        },

        computed: {
            ...mapGetters([
                'userToken',
                'contact',
                'selectToDelete'
            ])
        },

        mounted() {
            this.getSelectedContact();
        }
    }
</script>

<style scoped>

</style>
