<template>
    <div>
        <br>
        <div class="d-flex flex-row justify-content-between">
            <h4>Lista de contatos: </h4>
            <router-link type="button" to="/dashboard/list-contact/create" data-toggle="modal" data-target="#createContact" class="btn btn-primary">Adicionar</router-link>
        </div>
        <div class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="contact-name" class="sr-only">Nome</label>
                <input type="text" class="form-control" v-model="contactName" id="contact-name" placeholder="Nome do contato">
            </div>
            <button type="submit" class="btn btn-primary mb-2" v-on:click="filterContact">Buscar</button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Telefone(s)</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(contact, index) in this.contact">
                <td>{{contact['name']}}</td>
                <td>{{getPhones(contact['phones'])}}</td>
                <td>
                    <button type="button" class="btn btn-secondary" v-on:click="selectToUpdate(index)">Editar</button>
                    <button type="button" class="btn btn-danger" v-on:click="selectToDelete(index)" >Excluir</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div v-if="showModal" class="modal-route">
            <div class="modal-content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data () {
            return {
                contactName: '',
                showModal: false
            }
        },

        methods: {
            ...mapActions([
                'changeContact',
                'changeSelectToDelete',
                'changeContactToUpdateId',
                'changeContactToUpdateIndex'
            ]),

            getPhones(phones) {
                return _.join(phones, ', ')
            },

            filterContact() {
                Vue.http.get('/api/contact/filter', {
                    params: {
                        name: this.contactName
                    },
                    headers: {
                        'Authorization': 'Bearer ' + this.userToken
                    }
                }).then(
                    (response) => {
                        this.changeContact(response.data.data);
                    }
                )
            },

            selectToDelete(index) {
                this.changeSelectToDelete(_.get(this.contact, index));
                this.$router.push('/dashboard/list-contact/delete');
            },

            selectToUpdate(index) {
                this.changeContactToUpdateIndex(index);

                let contactToUpdate = _.get(this.contact, index);
                this.changeContactToUpdateId(contactToUpdate['id']);

                this.$router.push('/dashboard/list-contact/update');
            },

            userContact() {
                Vue.http.get('/api/contact/user/{userId}', {
                    params: {
                        userId: _.get(this.user, 'id')
                    },
                    headers: {
                        'Authorization': 'Bearer ' + this.userToken
                    }
                }).then(
                    (response) => {
                        this.changeContact(response.data.data);
                    }
                )
            },
        },

        computed: {
            ...mapGetters([
                'user',
                'contact',
                'userToken',
            ])
        },

        mounted() {
            this.userContact();
        },

        watch: {
            $route: {
                immediate: true,
                handler: function(newVal, oldVal) {
                    this.showModal = newVal.meta && newVal.meta.showModal;
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .contact-list {
        .item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            padding: 16px;
            border-radius: 4px;
            border: solid 1px #efefef;
        }
    }
    .modal-route {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.5);
        .modal-content {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
        }
    }
</style>
