<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone(s)</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="contact in this.contactList">
            <td>{{contact['name']}}</td>
            <td>{{getPhones(contact['phones'])}}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "ReportContactWithPhone",

        data () {
            return {
                contactList: {}
            }
        },

        methods: {
            getContactWithPhones() {
                Vue.http.get('/api/report/contact-with-phones', {
                    headers: {
                        'Authorization': 'Bearer ' + this.userToken
                    }
                }).then(
                    (response) => {
                        this.contactList = response.data.data;
                    }
                )
            },

            getPhones(phones) {
                return _.join(phones, ', ')
            }
        },

        computed: {
            ...mapGetters([
                'userToken'
            ])
        },

        mounted() {
            this.getContactWithPhones();
        }
    }
</script>
