<template>
    <div class="container">
        <br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <router-link aria-hidden="true" to="/dashboard" >&times;</router-link>
        </button>
        <br>
        <div class="d-flex justify-content-between align-items-center flex-row form-group">
            <label for="image" class="col-md-2">Imagem</label>
            <input type="file" class="form-control" @change="getImageFile" id="image">
        </div>
        <br>
        <p><button type="submit" class="btn btn-primary" v-on:click="updateUser">Atualizar</button></p>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';

    export default {
        name: "UpdateUser",
        data() {
            return {
                file: null
            }
        },

        methods: {
            getImageFile(event) {
                this.file = event.target.files[0];
            },

            updateUser() {
                let formData = new FormData();

                formData.append('image', this.file);

                Vue.http.post('/api/user/{userId}',
                    formData,
                    {
                        params: {
                            userId: _.get(this.user, 'id')
                        },
                        headers: {
                            'Authorization': 'Bearer ' + this.userToken
                        }
                    }
                ).then(
                    (response) => {
                        this.user.image_path = _.get(response, 'data.data.image_path');
                        this.$router.go(-1);
                    }
                );
            }
        },

        computed: {
            ...mapGetters([
                'user',
                'userToken'
            ])
        }
    }
</script>

<style scoped>

</style>
