<template>
    <div class="container">
        <br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <router-link aria-hidden="true" to="/dashboard/list-contact" >&times;</router-link>
        </button>
        <br>
        <br>
        <div class="d-flex justify-content-between align-items-center flex-row form-group">
            <label for="name" class="col-md-2">Nome</label>
            <input type="text" class="form-control col-md-10" v-model="contactToUpdate['name']" id="name">
        </div>

        <div class="d-flex justify-content-between align-items-center flex-row form-group">
            <label for="name" class="col-md-1">Telefone</label>
            <input type="text" class="form-control col-md-7" id="phone" v-model="phone">
            <button type="submit" class="btn btn-primary col-md-2" v-on:click="addPhone">Adicionar telefone</button>
        </div>
        <ul class="list-group" v-for="(phone, index) in contactToUpdate['phones']">
            <li class="list-group-item">{{phone}} <button type="submit" class="btn btn-primary" v-on:click="removePhone(index)">X</button> </li>
        </ul>
        <br>
        <p><button type="submit" class="btn btn-primary" v-on:click="saveContactInfo">Salvar</button></p>
        <br>
    </div>
</template>

<script>

    import {mapGetters, mapActions} from 'vuex';
    export default {
        name: "UpdateContact",

        data() {
            return {
                phone: '',
                contactToUpdate: {}
            }
        },

        methods: {
            ...mapActions([
                'changeContact'
            ]),

            saveContactInfo() {

                Vue.http.put('/api/contact/{contactId}', {
                        name: _.get(this.contactToUpdate,'name'),
                        phones: _.get(this.contactToUpdate,'phones')
                    },
                    {
                        params: {
                            contactId: _.get(this.contactToUpdate, 'id'),
                        },
                        headers: {
                            'Authorization': 'Bearer ' + this.userToken
                        }
                    }
                ).then(
                    (response) => {
                        this.contact[this.contactToUpdateIndex] = this.contactToUpdate;
                        this.changeContact(this.contact);
                        this.closeModal();
                    }
                )

            },

            closeModal() {
                this.$router.go(-1);
            },

            removePhone(index) {
                this.contactToUpdate['phones'].splice(index, 1);
            },

            addPhone() {
                if (this.phone != '') {
                    this.contactToUpdate['phones'].push(this.phone);
                    this.phone = '';
                }
            },

            getContact() {
                Vue.http.get('/api/contact/{contactId}', {
                    params: {
                        contactId: this.contactToUpdateId
                    },
                    headers: {
                        'Authorization': 'Bearer ' + this.userToken
                    }
                }).then(
                    (response) => {
                        this.contactToUpdate = response.data.data;
                    }
                )
            }
        },

        computed: {
            ...mapGetters([
                'contact',
                'userToken',
                'contactToUpdateId',
                'contactToUpdateIndex'
            ]),

            getName() {
                return this.contactToUpdate['name'];
            },

            getPhones() {
                return this.contactToUpdate['phones'];
            }
        },

        mounted() {
            this.getContact();
        }
    }
</script>

<style scoped>

</style>
